<div id="menu">
      <a href="index.html"><font color="#FFC433">Home</font></a
      >&nbsp; <a href="{{site.baseurl}}/people.html"><font color="#FFC433">People</font></a
      >&nbsp; <a href="research.html"><font color="#FFC433">Research</font></a
      >&nbsp;
      <a href="publications.html"><font color="#FFC433">Publications</font></a
      >&nbsp;
      <!--            <a href="collaborators.html"><font color=#FFC433>Collaborators</font></a>&nbsp;-->
      <a href="skills.html"><font color="#FFC433">Teaching</font></a
      >&nbsp;
      <!--<a href="rejections.html"><font color=#FFC433>Rejections</font></a>-->
      <a href="resources.html"><font color="#FFC433">Group Activities</font></a
      >&nbsp; <a href="resources.html"><font color="#FFC433">Resources</font></a
      >&nbsp; <a href="resources.html"><font color="#FFC433">Openings</font></a
      >&nbsp;
      <a href="zh/index.html"><font color="#FFC433">中文</font></a>
    </div>